<br />
<br />
<br />

<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Abonnements
                <small>Nos coffrets abonnements</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#/">Accueil</a>
                </li>
                <li class="active">Abonnements</li>
            </ol>
        </div>

    </div>
    <div class="row">
    
		<form method="post" ng-submit="Abonnemet(1)" ng-controller="SubCtrl">
	        <div class="col-sm-4">
	        
	            <div class="panel panel-default text-center">
	                <div class="panel-heading">
	                    <strong>1 saucisson</strong>
	                </div>
	                <div class="panel-body">
	                    <h3 class="panel-title price">6€
	                        <span class="price-cents">99</span>
	                        <span class="price-month">mois</span>
	                    </h3>
	                </div>
	                <ul class="list-group">
	                    <li class="list-group-item">Le saucisson du mois</li>
	                    <li class="list-group-item"></li>
	                    <li class="list-group-item"></li>
	                    <li class="list-group-item"></li>
	                    <li class="list-group-item"><input type="submit" class="btn btn-info" value="Abonnez-vous maintenant !">
	                    <!--<a class="btn btn-primary" href="/abonnement/1/{{user}}">Abonnez-vous maintenant !</a>-->
	                    </li>
	                </ul>
	                 <input  type="hidden" class="form-control" id="nom" ng-model="nom" name="nom" value="{{user}}">
	            </div>
	        </div>
        </form>
        
		<form method="post" ng-submit="Abonnemet(2)" ng-controller="SubCtrl">
	        <div class="col-sm-4">
	            <div class="panel panel-default text-center">
	                <div class="panel-heading">
	                    <strong>Coffret découverte</strong>
	                </div>
	                <div class="panel-body">
	                    <h3 class="panel-title price">17€
	                        <span class="price-cents">99</span>
	                        <span class="price-month">/mois</span>
	                    </h3>
	                </div>
	                <ul class="list-group">
	                    <li class="list-group-item">Le saucisson du mois</li>
	                    <li class="list-group-item">3 saucissons sélectionnés</li>
	                    <li class="list-group-item">Un guide de dégustation</li>
	                    <li class="list-group-item"></li>
	                    <li class="list-group-item"><input type="submit" class="btn btn-info" value="Abonnez-vous maintenant !">
	                    </li>
	                </ul>
	            </div>
	        </div>
	        <input  type="hidden" class="form-control" id="nom" ng-model="nom2" name="nom" value="{{user}}">
        </form>
         
		<form method="post" ng-submit="Abonnemet(2)" ng-controller="SubCtrl">
	     	<div class="col-sm-4">
	            <div class="panel panel-default text-center">
	                <div class="panel-heading">
	                    <strong>Coffret passion<span class="label label-success">Best Value!</span></strong>
	                </div>
	                <div class="panel-body">
	                    <h3 class="panel-title price">39€
	                        <span class="price-cents">99</span>
	                        <span class="price-month">/mois</span>
	                    </h3>
	                </div>
	                <ul class="list-group">	
	                    <li class="list-group-item">Le saucisson du mois</li>
	                    <li class="list-group-item">Une sélection de 7 saucissons coup de coeur</li>
	                    <li class="list-group-item">Un guide de dégustation</li>
	                    <li class="list-group-item">1 couteau</li>
	                    <li class="list-group-item"><input type="submit" class="btn btn-info" value="Abonnez-vous maintenant !">
	                    </li>
	                </ul>
	            </div>
	        </div>
	        <input  type="hidden" class="form-control" id="nom" ng-model="nom3" name="nom" value="{{user}}">
		</form>

	</div>
<!-- /.container -->
</div>


